.paletaCores {
    color: #bf1a2f;
    color: #001d3d;
    color: #25a18e;
    color: #000814;
    color: #001d3d;
    color: #003566;
    color: #121212;
    color: #dadada;
    color: #ffa500;
}

.topo {
    background-color: #001d3d;
    color: #fff;
}

.conheca {
    background-color: #dadada;
}

.btn.btn-primary {
    background-color: #25a18e !important;
    border: none;
}

.btn.btn-primary:hover {
    background-color: #1c796b !important;
}